<launch>
  <node name="rtsp_snapshot" pkg="geometric_controller" type="rtsp_snapshot_node.py" output="screen">
    <!-- 必填参数 -->
    <param name="rtsp_url" value="rtsp://192.168.1.108:554/stream=1" />
    
    <!-- 可选参数 -->
    <param name="save_dir" value=" $ (env HOME)/rtsp_snapshots" />
    <param name="snapshot_interval" value="15.0" />
    <param name="publish_image" value="true" />
    <param name="buffer_size" value="1" />
    <param name="odom_topic" value="/Odom" />
  </node>
</launch>